.App {
  margin: 20px;
  width: 300px;
}
.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid green;
  margin: 5px;
}
